boto3
coverage
Flask
flask-smorest
gunicorn
python-dotenv
flask-cors
flask-jwt-extended
requests
Werkzeug==2.3
itsdangerous
flask-injector
flake8
flask-sqlalchemy
flask-migrate
psycopg2-binary
Faker
passlib